<div class="row">
    <div class="col-xl-6" *ngIf="administradorNossoCafofo">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "piggy-bank"]'>
                </fa-icon>Assinantes por planos
            </div>
            <div class="card-body">
                <sb-chart-pie-planos></sb-chart-pie-planos>
            </div>
        </sb-card>
    </div>
    <div class="col-xl-6" *ngIf="administradorNossoCafofo">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "piggy-bank"]'>
                </fa-icon>Assinaturas por Mês
            </div>
            <div class="card-body">
                <sb-chart-bar-assinaturas-por-mes></sb-chart-bar-assinaturas-por-mes>
            </div>
        </sb-card>
    </div>
</div>