@import 'styles/variables.scss';

.form-inline{
    display: flex;
    justify-content: center;
}
.pesquisa-listagem{
   width: 70%;
}

.botoes-acoes{
    display: flex;
    justify-content: center;
}