<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5" *ngIf="showRecoveryPassword || showRecoveryCodeValidation">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Recuperar senha</h4>
                    </div>
                    <div class="card-body" *ngIf="showRecoveryPassword">
                        <div class="small mb-3 text-muted">Entre com seu email e será enviado para ele um código de
                            verificação
                            para troca de senha.</div>
                        <form [formGroup]="formGroup">
                            <div class="form-group">
                                <label class="small mb-1">Email</label>
                                <input class="form-control py-4" type="email" formControlName="email"
                                    placeholder="Informe seu email" />

                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                    [validationName]="'required'"></show-erro-input>
                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                    [validationName]="'email'" [mensagemDeErro]="'Informe um email válido'">
                                </show-erro-input>
                            </div>
                            <div id="logar">
                                <button class="btn" (click)="recuperar()">Recuperar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body" *ngIf="showRecoveryCodeValidation">
                        <div class="small mb-3 text-muted">O código de recuperação foi enviado para o seu e-mail, basta
                            recupera-lô e inseri-lô abaixo para validação.</div>
                        <form [formGroup]="formGroupCodigo">
                            <div class="form-group">
                                <label class="small mb-1">Código de Recuperação</label>
                                <input class="form-control py-4" type="text" formControlName="codigo"
                                    placeholder="Informe o código" required maxlength="8"/>
                                <show-erro-input [inputName]="'codigo'" [formGroup]="formGroupCodigo"
                                    [validationName]="'required'">
                                </show-erro-input>
                                <show-erro-input [inputName]="'codigo'" [formGroup]="formGroupCodigo"
                                    [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                </show-erro-input>
                            </div>
                            <div id="logar">
                                <button class="btn" (click)="validarCodigo()">Validar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center" *ngIf="showRecoveryPassword">
                        <div class="small"><a routerLink="/auth/login">Voltar para Login</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" *ngIf="showNewPasswordDefinition">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Definição de senha</h4>
                    </div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Insira uma nova senha.</div>
                        <form [formGroup]="formGroupSenha">
                            <div class="form-group">
                                <label class="small mb-1">Senha</label>
                                <input class="form-control py-4" type="password" formControlName="senha"
                                    placeholder="Informe sua senha" required />
                                <show-erro-input [inputName]="'senha'" [formGroup]="formGroupSenha"
                                    [validationName]="'required'">
                                </show-erro-input>
                                <show-erro-input [inputName]="'senha'" [formGroup]="formGroupSenha"
                                    [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                </show-erro-input>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Confirmar Senha</label>
                                <input class="form-control py-4" type="password" formControlName="confirmaSenha"
                                    placeholder="Confirme sua senha" required />
                                <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroupSenha"
                                    [validationName]="'required'">
                                </show-erro-input>
                                <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroupSenha"
                                    [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                </show-erro-input>

                                <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroupSenha"
                                    [validationName]="'confirmar'" [mensagemDeErro]="'Senhas não conferem'">
                                </show-erro-input>
                            </div>

                            <div id="logar">
                                <button class="btn" (click)="redefinir()">Redefinir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>