<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Recuperar senha</h4>
                    </div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Entre com seu email e será enviado para ele um código de
                            verificação
                            para troca de senha.</div>
                        <form>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="email"
                                    aria-describedby="emailHelp" placeholder="Informe seu email" />
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" routerLink="/auth/login">Voltar para login</a>
                            </div>

                            <div id="logar">
                                <button class="btn" routerLink="/auth/login">Recuperar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>Ainda não possui um cadastro?</p>
                        <div class="small"><a routerLink="/auth/register">Criar novo cadastro!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>