<div *ngIf="festaId">
    <p>Lista de Participantes</p>

    <sb-card>
        <div class="card-body">
            <form>
                <div class="form-group form-inline">
                    <input class="form-control ml-2 mr-2 pesquisa-listagem" type="text" name="searchTerm"
                        placeholder="Pesquisa" [(ngModel)]="_serviceTable.searchTerm" />
                    <span class="ml-8" *ngIf="_serviceTable.loading$ | async">Loading...</span>
                    <div class="botoes-acoes">
                        <button id="cadastro" class="btn" (click)="cadastrarParticipante()">
                            <fa-icon [icon]='["fas", "plus-circle"]'></fa-icon> Cadastro
                        </button>
                        <sb-button-filtros (openDialogFiltrar)="abrirModalFiltrar()"></sb-button-filtros>
                    </div>
                </div>
            </form>
            <div class="table-responsive-md">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" sbSortable="situacao" (sort)="onSort($event)"><span>Situação</span>
                                <sb-sort-icon *ngIf='sortedColumn === "situacao"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col" sbSortable="nome" (sort)="onSort($event)"><span>Nome</span>
                                <sb-sort-icon *ngIf='sortedColumn === "nome"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col" sbSortable="valor" (sort)="onSort($event)"><span>Valor</span>
                                <sb-sort-icon *ngIf='sortedColumn === "valor"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col" sbSortable="lote" (sort)="onSort($event)"><span>Lote</span>
                                <sb-sort-icon *ngIf='sortedColumn === "lote"' [direction]="sortedDirection">
                                </sb-sort-icon>
                            </th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros$ | async">
                            <th scope="row">{{ registro.id }}</th>
                            <td>
                                <ngb-highlight [result]="mapSituacaoPagamentoParticipanteFesta[registro?.situacao]"
                                    [term]="_serviceTable.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="registro.nome" [term]="_serviceTable.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="registro.valor | currency" [term]="_serviceTable.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="mapLoteFesta[registro?.lote]"
                                 [term]="_serviceTable.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm opcoes-listagens"
                                    (click)="editar(registro.id)">Editar</button>

                                <!-- <button type="button" class="btn btn-danger btn-sm opcoes-listagens"
                                    (click)="abrirModalRemocao(registro.id)">Remover</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="((total$ | async) || 0) === 0">
                Nenhum registro encontrado!
            </div>
            <div class="d-flex justify-content-between p-2" *ngIf="((total$ | async)|| 0) > 0">
                <ngb-pagination [collectionSize]="(total$ | async)" [(page)]="_serviceTable.page"
                    [pageSize]="_serviceTable.pageSize"></ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="_serviceTable.pageSize">
                    <option [ngValue]="2">2 itens por página</option>
                    <option [ngValue]="4">4 itens por página</option>
                    <option [ngValue]="6">6 itens por página</option>
                </select>
            </div>
        </div>
    </sb-card>

    <ngbd-modal-filtros-festas #modalFiltros [filtros]="filtros" (searchOutput)="filtrar()">
    </ngbd-modal-filtros-festas>
</div>