<div id="layoutAuthentication">

    <div id="layoutAuthentication_content">
        <main>
            <div class="container" id="logo">
                <div class="row justify-content-center">
                    <div class="logo-nosso-cafofo">
                        <img src="assets/img/nosso-cafofo.svg" />
                        <span>Nosso Cafofo</span>
                    </div>
                </div>
            </div>
            <ng-content></ng-content>
        </main>
    </div>
</div>