<sb-layout-dashboard>
    <sb-dashboard-head title="Profile" [hideBreadcrumbs]="false"></sb-dashboard-head>


    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Profile</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row">
                        <sb-card class="col-md-4">
                            <div class="card-header">Imagem de Profile</div>
                            <div class="card-body selecao-imagem">
                                <img [src]="profileUrlImage" alt="Avatar" class="avatar">
                               
                                <button class="btn btns-formulario-cadastro-salvar" disabled
                                    (click)="trocarImagem()">Trocar
                                    imagem</button>
                                <p class="mensagem-erro-input">
                                    Opção de troca de imagem desabilitada temporariamente!
                                </p>
                            </div>
                        </sb-card>

                        <sb-card class="col-md-8">
                            <div class="card-header">Detalhes da Conta</div>
                            <div class="card-body">
                                <form [formGroup]="formGroup">
                                    <div class="form-row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Nome'" [required]="true">
                                                </show-custom-label>
                                                <input class="form-control" id="nome" type="text"
                                                    placeholder="Informe o nome" formControlName="nome" />

                                                <show-erro-input [inputName]="'nome'" [formGroup]="formGroup"
                                                    [validationName]="'required'">
                                                </show-erro-input>
                                                <show-erro-input [inputName]="'nome'" [formGroup]="formGroup"
                                                    [validationName]="'maxlength'"
                                                    [mensagemDeErro]="'Tamanho máximo de 50 caracteres'">
                                                </show-erro-input>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Ano de Entrada na República'"
                                                    [required]="false"></show-custom-label>
                                                <input class="form-control" id="ano" type="number" placeholder="Ano"
                                                    formControlName="ano" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Email'" [required]="true">
                                                </show-custom-label>
                                                <input class="form-control" id="email" type="email"
                                                    placeholder="Informe o email" formControlName="email" />

                                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                                    [validationName]="'required'"></show-erro-input>
                                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                                    [validationName]="'email'"
                                                    [mensagemDeErro]="'Informe um email válido'">
                                                </show-erro-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btns-formulario-cadastro">
                                        <button class="btn btns-formulario-cadastro-salvar"
                                            (click)="salvarDetalhesDoUsuario()">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </sb-card>

                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Ações Adicionais</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row">
                        <sb-card class="col-md-4">
                            <div class="card-header">Contas Sociais</div>
                            <div class="card-body">
                                <div class="vinculacao-social">
                                    <span *ngIf="facebookVinculado">
                                        <fa-icon class="link" [icon]='["fas", "link"]'></fa-icon> Facebook vinculado
                                    </span>
                                    <span *ngIf="!facebookVinculado">
                                        <fa-icon class="unlink" [icon]='["fas", "unlink"]'></fa-icon> Facebook não
                                        vinculado
                                    </span>
                                    <button class="btn btns-facebook" *ngIf="!facebookVinculado"
                                        (click)="vincularContaSocial('facebook')">
                                        Vincular Facebook
                                    </button>
                                    <button class="btn btns-facebook" *ngIf="facebookVinculado"
                                        (click)="desvincularContaSocial('facebook')">
                                        Desvincular Facebook
                                    </button>
                                </div>
                                <!-- <div class="vinculacao-social">
                                    <span *ngIf="googleVinculado">
                                        <fa-icon class="link" [icon]='["fas", "link"]'></fa-icon> Google vinculado
                                    </span>
                                    <span *ngIf="!googleVinculado">
                                        <fa-icon class="unlink" [icon]='["fas", "unlink"]'></fa-icon> Google não
                                        vinculado
                                    </span>
                                    <button class="btn btns-google" *ngIf="!googleVinculado">
                                        Vincular Google
                                    </button>
                                    <button class="btn btns-google" *ngIf="googleVinculado" (click)="des">
                                        Desvincular Google
                                    </button>
                                </div> -->
                            </div>
                        </sb-card>
                        <sb-card class="col-md-8">
                            <div class="card-header">Trocar Senha</div>
                            <div class="card-body">
                                <form [formGroup]="formGroupTrocaSenha">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Senha Atual'" [required]="true">
                                                </show-custom-label>
                                                <input class="form-control" id="senhaAtual" type="password"
                                                    formControlName="senhaAtual" />

                                                <show-erro-input [inputName]="'senhaAtual'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'required'">
                                                </show-erro-input>

                                                <show-erro-input [inputName]="'senhaAtual'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'minlength'"
                                                    [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                                </show-erro-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Nova Senha'" [required]="true">
                                                </show-custom-label>
                                                <input class="form-control" id="novaSenha" type="password"
                                                    formControlName="novaSenha" />

                                                <show-erro-input [inputName]="'novaSenha'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'required'">
                                                </show-erro-input>

                                                <show-erro-input [inputName]="'novaSenha'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'minlength'"
                                                    [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                                </show-erro-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <show-custom-label [textLabel]="'Confirmar Senha'" [required]="true">
                                                </show-custom-label>
                                                <input class="form-control" id="confirmarSenha" type="password"
                                                    formControlName="confirmarSenha" />

                                                <show-erro-input [inputName]="'confirmarSenha'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'required'">
                                                </show-erro-input>

                                                <show-erro-input [inputName]="'confirmarSenha'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'minlength'"
                                                    [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                                </show-erro-input>

                                                <show-erro-input [inputName]="'confirmarSenha'"
                                                    [formGroup]="formGroupTrocaSenha" [validationName]="'confirmar'"
                                                    [mensagemDeErro]="'Senhas não conferem'">
                                                </show-erro-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btns-formulario-cadastro">
                                        <button class="btn btns-formulario-cadastro-salvar"
                                            (click)="salvarTrocaDeSenha()">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </sb-card>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</sb-layout-dashboard>
<ngbd-modal-confirmacao #modalConfirmacao (confirma)="confirmaDesvinculacao($event)"
    [titulo]="'Confirmar Desvinculação'" [conteudo]="'Deseja realmente realizar a desvinculação?'">
</ngbd-modal-confirmacao>