@import 'styles/variables.scss';

.container { 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    
    .row {
        display: flex;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        justify-content: space-between;
    }
}

sb-card{
    .card-header {
        background-color: var(--color-background-sb-cards);
    }
    
    .card-body {
        background-color: var(--color-background-sb-cards); 

        .vinculacao-social {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;

            span {
                margin-bottom: 0.5rem;
                fa-icon{
                    font-size: 14px;
                    margin-right: 0.5rem;
                }
            }

            .link {
                color: #00EEA4 !important;     
            }

            .unlink {
                color: #FF0000 !important;     
            }
            
            .btns-facebook {
                background-color: #3B5998;
                color: #FFFFFF !important;
                min-width: 80%;
            }
              
            .btns-google {
                background-color: #DB4437;
                color: #FFFFFF !important;
                min-width: 80%;
            }

        }
    }

    .selecao-imagem {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        button {
            width: 140px;
        }
        
        fa-icon {
            color: var(--color-text-base);
            font-weight: bold;
            width: 140px;
            font-size: 120px;
        }
    }

    .mensagem-erro-input {
        color: red !important;
        font-size: 12px;
        text-align:  center;
        margin-top: 1rem;
    }

}