<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/dashboard">
        <img src="assets/img/nosso-cafofo-cap-azul.svg" />
        <span>Nosso Cafofo</span>
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav"
        (click)="toggleSideNav()">
        <fa-icon [icon]='["fas", "bars"]'></fa-icon>
    </button>

    <ul class="navbar-nav ml-auto">
        <div id="descricaoUsuarioNavBar">
            <span class="navbar-text" data-toggle="collapse" data-target=".navbar-collapse.show">
                {{usuario.nome}}
            </span>
            <span class="navbar-text" data-toggle="collapse" data-target=".navbar-collapse.show">
                Administrador
            </span>
        </div>
        <sb-top-nav-user [usuario]="usuario"></sb-top-nav-user>
    </ul>
</nav>