<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{conteudo}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-fechar-filtros" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-confirma-acao" (click)="confirmar()">Confirmar</button>
    </div>
</ng-template>