<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Acesse sua conta</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formGroup">
                            <div class="form-group">
                                <label class="small mb-1" for="email">Email</label>
                                <input class="form-control py-4" id="email" type="email" formControlName="email"
                                    placeholder="Informe seu email" required />


                                <ng-container *ngIf="formGroup.controls.email.touched">
                                    <span *ngIf="formGroup.get('email').hasError('required')">
                                        Campo obrigatório
                                    </span>

                                    <span *ngIf="formGroup.get('email').hasError('email')">
                                        Informe um email válido.
                                    </span>
                                </ng-container>

                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="senha">Senha</label>
                                <input class="form-control py-4" id="senha" type="password" formControlName="senha"
                                    placeholder="Informe sua senha" required />

                                <ng-container *ngIf="formGroup.controls.senha.touched">
                                    <span *ngIf="formGroup.get('senha').hasError('required')">
                                        Campo obrigatório
                                    </span>
                                </ng-container>


                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember
                                        password</label>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <a class="small" routerLink="/auth/forgot-password">Esqueci minha senha.</a>
                            </div>
                            <div id="logar">
                                <button class="btn" (click)="logar()" [disabled]="!formGroup.valid">Entrar</button>
                            </div>
                        </form>
                        <div class="row" id="divisor">
                            <hr />
                            <p>ou</p>
                            <hr />
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <p>Ainda não possui um cadastro?</p>
                        <div class="small"><a routerLink="/auth/register">Criar novo cadastro!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>