<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Acesse sua conta</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formGroup">
                            <div class="form-group">
                                <label class="small mb-1" for="email">Email</label>
                                <input class="form-control py-4" id="email" type="email" formControlName="email"
                                    placeholder="Informe seu email" required />

                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                    [validationName]="'required'"></show-erro-input>
                                <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                    [validationName]="'email'" [mensagemDeErro]="'Informe um email válido'">
                                </show-erro-input>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="senha">Senha</label>
                                <input class="form-control py-4" id="senha" type="password" formControlName="senha"
                                    placeholder="Informe sua senha" required />
                                <show-erro-input [inputName]="'senha'" [formGroup]="formGroup"
                                    [validationName]="'required'">
                                </show-erro-input>

                                <show-erro-input [inputName]="'senha'" [formGroup]="formGroup"
                                    [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                </show-erro-input>
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember
                                        password</label>
                                </div>
                            </div> -->
                            <!-- <div class="form-group">
                                <a class="small" routerLink="/auth/forgot-password">Esqueci minha senha.</a>
                            </div> -->
                            <div id="logar">
                                <button class="btn" (click)="logar()">Entrar</button>
                            </div>
                        </form>
                        <div class="row" id="divisor">
                            <hr />
                            <p>ou</p>
                            <hr />
                        </div>
                        <div class="buttons-contas-sociais">
                            <button class="btn btns-facebook" (click)="logarComContaSocial('facebook')">Facebook</button>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <p>Ainda não possui um cadastro?</p>
                        <div class="small"><a routerLink="/auth/register">Criar novo cadastro!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>