@import 'styles/variables.scss';

.card-header{
    h4 {
        margin: 0.5rem !important
    }
}

#logar {
    display: flex;
    justify-content: center;
    button {
        width: 45%;
        background-color: var(--color-button-background-purple);
        color: #FFFFFF !important;
    }
}

.card-footer{
    p {
        margin-bottom: 0;
    }
    .small {
        margin-bottom: 0.5rem;
    }
}


.mensagem-erro-input {
    color: red;
    font-size: 12px;
}

.buttons-contas-sociais{
    display: flex;
    justify-content: center;

    button{
        width: 45%;
    }
}