<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-4">Crie uma conta</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formGroup">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="nome">
                                            Nome</label><input class="form-control py-4" id="nome" type="text"
                                            placeholder="Informe seu nome" formControlName="nome" />

                                        <show-erro-input [inputName]="'nome'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'nome'" [formGroup]="formGroup"
                                            [validationName]="'maxlength'"
                                            [mensagemDeErro]="'Tamanho máximo de 50 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="small mb-1" for="nomeRepublica">
                                            Nome da República</label><input class="form-control py-4" id="nomeRepublica"
                                            type="text" placeholder="Informe o nome da República"
                                            formControlName="nomeRepublica" />

                                        <show-erro-input [inputName]="'nomeRepublica'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'nomeRepublica'" [formGroup]="formGroup"
                                            [validationName]="'maxlength'"
                                            [mensagemDeErro]="'Tamanho máximo de 50 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="small mb-1" for="anoCriacaoRepublica">
                                            Ano de Criação da República</label><input class="form-control py-4"
                                            id="anoCriacaoRepublica" type="number"
                                            placeholder="Informe o ano de criação da República"
                                            formControlName="anoCriacaoRepublica" />

                                        <show-erro-input [inputName]="'anoCriacaoRepublica'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'anoCriacaoRepublica'" [formGroup]="formGroup"
                                            [validationName]="'max'" [mensagemDeErro]="mensagemAnoMaximoAnoCriacao">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'anoCriacaoRepublica'" [formGroup]="formGroup"
                                            [validationName]="'min'" [mensagemDeErro]="'Valor mínimo: 1900'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="diaPagamentoContas">
                                            Dia de Pagamento das Contas</label><input class="form-control py-4"
                                            id="diaPagamentoContas" type="number"
                                            placeholder="Informe o dia de Pagamento das Contas"
                                            formControlName="diaPagamentoContas" />

                                        <show-erro-input [inputName]="'diaPagamentoContas'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'diaPagamentoContas'" [formGroup]="formGroup"
                                            [validationName]="'max'" [mensagemDeErro]="'Valor máximo dia 31'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'diaPagamentoContas'" [formGroup]="formGroup"
                                            [validationName]="'min'" [mensagemDeErro]="'Valor mínimo dia 1'">
                                        </show-erro-input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="anoEntradaMorador">
                                            Ano de Entrada na República</label><input class="form-control py-4"
                                            id="anoEntradaMorador" type="number" placeholder="Informe o ano de entrada"
                                            formControlName="anoEntradaMorador" />

                                        <show-erro-input [inputName]="'anoEntradaMorador'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'anoEntradaMorador'" [formGroup]="formGroup"
                                            [validationName]="'anoEntradaInvalido'"
                                            [mensagemDeErro]="'Ano de entrada na República deve ser igual ou superior ao ano de criação da mesma'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="logradouro">
                                            Endereço</label><input class="form-control py-4" id="logradouro" type="text"
                                            placeholder="Informe o endereço" formControlName="logradouro" />

                                        <show-erro-input [inputName]="'logradouro'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>

                                        <show-erro-input [inputName]="'logradouro'" [formGroup]="formGroup"
                                            [validationName]="'maxlength'"
                                            [mensagemDeErro]="'Tamanho máximo de 70 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="small mb-1" for="complemento">
                                            Complemento</label><input class="form-control py-4" id="complemento"
                                            type="text" placeholder="Informe o complemento"
                                            formControlName="complemento" />

                                        <show-erro-input [inputName]="'complemento'" [formGroup]="formGroup"
                                            [validationName]="'maxlength'"
                                            [mensagemDeErro]="'Tamanho máximo de 45 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="small mb-1" for="numero">
                                            Número</label><input class="form-control py-4" id="numero" type="text"
                                            placeholder="Informe o número" formControlName="numero" />

                                        <show-erro-input [inputName]="'numero'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                        <show-erro-input [inputName]="'numero'" [formGroup]="formGroup"
                                            [validationName]="'maxlength'"
                                            [mensagemDeErro]="'Tamanho máximo de 10 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="email">Email</label>
                                        <input class="form-control py-4" id="email" type="email" formControlName="email"
                                            placeholder="Informe seu email" required />

                                        <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                            [validationName]="'required'"></show-erro-input>
                                        <show-erro-input [inputName]="'email'" [formGroup]="formGroup"
                                            [validationName]="'email'" [mensagemDeErro]="'Informe um email válido'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="senha">Senha</label>
                                        <input class="form-control py-4" id="senha" type="password"
                                            formControlName="senha" placeholder="Informe sua senha" required />
                                        <show-erro-input [inputName]="'senha'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>

                                        <show-erro-input [inputName]="'senha'" [formGroup]="formGroup"
                                            [validationName]="'minlength'"
                                            [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                        </show-erro-input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="confirmaSenha">Confirmar Senha</label>
                                        <input class="form-control py-4" id="confirmaSenha" type="password"
                                            formControlName="confirmaSenha" placeholder="Confirme sua senha" required />
                                        <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>

                                        <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroup"
                                            [validationName]="'minlength'"
                                            [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                                        </show-erro-input>

                                        <show-erro-input [inputName]="'confirmaSenha'" [formGroup]="formGroup"
                                            [validationName]="'confirmar'" [mensagemDeErro]="'Senhas não conferem'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <form-select-estado formControlName="estadoId"
                                            (escolheEstado)="getEstadoSelecionado($event)"></form-select-estado>

                                        <show-erro-input [inputName]="'estadoId'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <form-select-cidade #selectCidade formControlName="cidadeId"
                                            [_readonly]="!estadoId">
                                        </form-select-cidade>

                                        <show-erro-input [inputName]="'cidadeId'" [formGroup]="formGroup"
                                            [validationName]="'required'">
                                        </show-erro-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-4 mb-0">
                                <button class="btn btn-block" (click)="cadastrar()">Criar
                                    Cadastro</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>Já possui um cadastro?</p>
                        <div class="small"><a routerLink="/auth/login">Entrar no sistema!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>