@import 'styles/variables.scss';


button {
    background-color: var(--color-button-background-purple);
    color: #FFFFFF !important;   
    &:hover {
        color: #FFFFFF !important; 
    }
}

.card {
    margin-bottom: 5rem;
}

.buttons-contas-sociais{
    display: flex;
    justify-content: center;
    margin-top: 16px;

    button {
        width: 45%;
        margin:10px;
        max-width: 250px;
    }
}