// Global styling for this template
:root {
  --color-text-base: #202145;
  --color-button-background-purple: #5D2680;
  --color-button-text-white: #ffffff;
}

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


body, h1, h2, h3, h4, button, p {
  font-family: Archivo;
  color: var(--color-text-base);
}