// Global styling for this template
:root {
  --pages-auth-background-color: #202145;
  --color-background-navbar: #f8f9fa;
  --color-text-base: #202145;
  --color-text-grey: #616161;
  --color-button-background-purple: #5D2680;
  --color-button-background-more-purple: #7E00CC;
  --color-button-text-white: #ffffff;
  --color-icons-blue: #43DBD7;
  --color-background-btn-blue: #202145;
  --color-text-btn-blue: #f8f9fa;
  --color-background-btn-grey: #e9ecef;
  --color-background-sb-cards: #e9ecef;
}

html,
body {
  height: 100%;
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


body, h1, h2, h3, h4, button, p, th, td {
  font-family: Archivo;
  color: var(--color-text-base) !important;
}

.opcoes-listagens{
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 10px;
}

.btn-fechar-filtros{
  width: 100px;
  background-color: var(--color-background-btn-grey);
}

.btn-pesquisa-filtros{
  width: 100px;
  background-color: var(--color-background-btn-blue);
  color: var(--color-text-btn-blue) !important;
}

.btns-formulario-cadastro{
  margin-top: 12px;
  display: flex;
  flex: row;
  justify-content: end;

  button {
    width: 140px;
    margin-left: 1rem;
  }
}

.btns-formulario-cadastro-voltar {
  background-color: var(--color-background-btn-blue);
  color: var(--color-text-btn-blue) !important;
}

.btns-formulario-cadastro-salvar{
  background-color: var(--color-button-background-more-purple);
  color: #FFFFFF !important;
}

.btns-facebook {
  background-color: #3B5998;
  color: #FFFFFF !important;
}

.btns-google {
  background-color: #DB4437;
  color: #FFFFFF !important;
}

.nav-tabs { 
  margin-bottom: 2rem;

  .nav-item {
    border-bottom: 1px solid #CCC;
  }
  
  .nav-link {
    color: var(--color-text-base);
  }

}

.page-item.active {
  .page-link {
    background-color: #7E00CC !important;
    border-color: #7E00CC !important;
  }
}