// Global styling for this template
:root {
  --pages-auth-background-color: #202145;
  --color-background-navbar: #f8f9fa;
  --color-text-base: #202145;
  --color-text-grey: #616161;
  --color-button-background-purple: #5D2680;
  --color-button-background-more-purple: #7E00CC;
  --color-button-text-white: #ffffff;
  --color-icons-blue: #43DBD7;
}

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


body, h1, h2, h3, h4, button, p, th, td {
  font-family: Archivo;
  color: var(--color-text-base) !important;
}

.opcoes-listagens{
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 10px;
}