// Z index variables
$zindex-sidenav: 1080 !default;
$zindex-topnav: 1090 !default;

// Color variables for the sidenav

// -- Sidenav Nosso Cafofo
$sidenav-background: $gray-100; 
$sidenav-color: #202145;
$sidenav-heading-color: #202145;
$sidenav-link-color: #202145;
$sidenav-link-active-color: #5D2680;
$sidenav-icon-color: #202145;
$sidenav-footer-bg: #F2F2F2;

// Color variables for the topnav
$topnav-dark-toggler-color: fade-out($white, 0.5);
$topnav-light-toggler-color: $gray-900;
