<sb-layout-dashboard>
    <sb-dashboard-head [title]="title" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <show-custom-label [textLabel]="'Descrição'" [required]="true"></show-custom-label>
                    <input class="form-control" id="descricao" type="text" placeholder="Informe a descrição"
                        formControlName="descricao" maxlength="50" />

                    <show-erro-input [inputName]="'descricao'" [formGroup]="formGroup" [validationName]="'required'">
                    </show-erro-input>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <show-custom-label [textLabel]="'Data '" [required]="true"></show-custom-label>
                    <input class="form-control" id="data" type="text" formControlName="data" bsDatepicker
                        [bsConfig]="{withTimepicker: true, rangeInputFormat: 'DD/MM/YYYY H:mm', dateInputFormat: 'DD/MM/YYYY H:mm'}" />

                    <show-erro-input [inputName]="'data'" [formGroup]="formGroup" [validationName]="'required'">
                    </show-erro-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <form-select-situacao-custom formControlName="situacao" [opcoes]="opcoesSituacao" [_readonly]="true">
                    </form-select-situacao-custom>
                </div>
            </div>
        </div>
    </form>

    <sb-festas-participantes *ngIf="!isNew" [festaId]="dadosRegistroFiltrado.id"></sb-festas-participantes>

    <div class="btns-formulario-cadastro">
        <button class="btn btns-formulario-cadastro-voltar" (click)="voltar()">Voltar</button>
        <button *ngIf="isNew" class="btn btns-formulario-cadastro-salvar" (click)="salvar()">Continuar</button>
        <button *ngIf="!isNew"class="btn btns-formulario-cadastro-salvar" (click)="salvar()">Salvar</button>
    </div>
</sb-layout-dashboard>