<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Filtros</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <form-select-tipo-plano *ngIf="filtros" formControlName="tipoPlanoAtivo">
                        </form-select-tipo-plano>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="small mb-1" for="dataPagamentoContas">
                            Dia de Pagamento das Contas</label>
                        <input class="form-control py-4" id="dataPagamentoContas" type="number"
                            placeholder="Informe o nome da república" formControlName="dataPagamentoContas" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="small mb-1" for="anoCriacao">Ano de Criação</label>
                        <input class="form-control py-4" id="anoCriacao" type="number"
                            placeholder="Informe o ano de entrada" formControlName="anoCriacao" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-fechar-filtros" (click)="close()">Fechar</button>
        <button type="button" class="btn btn-pesquisa-filtros" (click)="search()">Pesquisar</button>
    </div>
</ng-template>