<sb-layout-dashboard>
    <sb-dashboard-head [title]="title" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="small mb-1" for="nome">Nome</label>
                    <input class="form-control" id="nome" type="text" placeholder="Informe o nome do Morador"
                        formControlName="nome" maxlength="50" />

                    <show-erro-input [inputName]="'nome'" [formGroup]="formGroup" [validationName]="'required'">
                    </show-erro-input>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="small mb-1" for="anoEntrada">Ano de Entrada na República</label>
                    <input class="form-control" id="anoEntrada" type="number"
                        placeholder="Informe o ano de entrada na República" formControlName="anoEntrada" />

                    <show-erro-input [inputName]="'anoEntrada'" [formGroup]="formGroup" [validationName]="'required'">
                    </show-erro-input>
                    <show-erro-input [inputName]="'anoEntrada'" [formGroup]="formGroup" [validationName]="'max'"
                        [mensagemDeErro]="mensagemAnoMaximoEntrada">
                    </show-erro-input>
                    <show-erro-input [inputName]="'anoEntrada'" [formGroup]="formGroup" [validationName]="'min'"
                        [mensagemDeErro]="'Valor mínimo: 1900'">
                    </show-erro-input>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group" *ngIf="isNew">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="realizarCadastroDeUsuario" type="checkbox"
                            formControlName="realizarCadastroDeUsuario" />
                        <label class="custom-control-label" for="realizarCadastroDeUsuario">Realizar cadastro de Usuário
                            para o Morador?</label>
                    </div>
                </div>

                <div class="form-group" *ngIf="!isNew">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="ativo" type="checkbox" formControlName="ativo" />
                        <label class="custom-control-label" for="ativo">Morador Ativo?</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form [formGroup]="formGroupCadastroUsuario" *ngIf="isNew && this.formGroup.get('realizarCadastroDeUsuario').value">
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="small mb-1" for="email">Email</label>
                    <input class="form-control" id="email" type="email" formControlName="email"
                        placeholder="Informe seu email" required />

                    <show-erro-input [inputName]="'email'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'required'"></show-erro-input>
                    <show-erro-input [inputName]="'email'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'email'" [mensagemDeErro]="'Informe um email válido'">
                    </show-erro-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <form-select-perfil formControlName="perfilId">
                    </form-select-perfil>
                    <show-erro-input [inputName]="'perfilId'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'required'">
                    </show-erro-input>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" for="senha">Senha</label>
                    <input class="form-control" id="senha" type="password" formControlName="senha"
                        placeholder="Informe sua senha" required />
                    <show-erro-input [inputName]="'senha'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'required'">
                    </show-erro-input>

                    <show-erro-input [inputName]="'senha'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                    </show-erro-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" for="confirmarSenha">Confirmar Senha</label>
                    <input class="form-control" id="confirmarSenha" type="password" formControlName="confirmarSenha"
                        placeholder="Confirme sua senha" required />
                    <show-erro-input [inputName]="'confirmarSenha'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'required'">
                    </show-erro-input>

                    <show-erro-input [inputName]="'confirmarSenha'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'minlength'" [mensagemDeErro]="'Tamanho mínimo de 8 caracteres'">
                    </show-erro-input>

                    <show-erro-input [inputName]="'confirmarSenha'" [formGroup]="formGroupCadastroUsuario"
                        [validationName]="'confirmar'" [mensagemDeErro]="'Senhas não conferem'">
                    </show-erro-input>
                </div>
            </div>
        </div>
    </form>

    <div class="btns-formulario-cadastro">
        <button class="btn btns-formulario-cadastro-voltar" (click)="voltar()">Voltar</button>
        <button class="btn btns-formulario-cadastro-salvar" (click)="salvar()">Salvar</button>
    </div>
</sb-layout-dashboard>