<div class="row">
    <div class="col-xl-3 col-md-6" *ngIf="administradorNossoCafofo">
        <sb-card link="/dashboard" background="card-widget-default">
            <div class="card-body">
                <div class="text-card">
                    <p>Total de Assinantes</p>
                    <span *ngIf="this.mapEstatisticasCards['total-assinantes']">
                        {{this.mapEstatisticasCards['total-assinantes'].assinantes}} assinantes</span>
                </div>
                <div class="icon-card">
                    <fa-icon [icon]='["fas", "house-user"]'></fa-icon>
                </div>
            </div>
        </sb-card>
    </div>
</div>