<div class="row" *ngIf="administradorNossoCafofo">
    <div class="col-xl-3 col-md-6">
        <sb-card link="/dashboard" background="card-widget-default">
            <div class="card-body">
                <div class="text-card">
                    <p>Total de Assinantes</p>
                    <span *ngIf="this.mapEstatisticasCards['total-assinantes']">
                        {{this.mapEstatisticasCards['total-assinantes'].assinantes}} assinantes</span>
                </div>
                <div class="icon-card">
                    <fa-icon [icon]='["fas", "house-user"]'></fa-icon>
                </div>
            </div>
        </sb-card>
    </div>
</div>
<div class="row" *ngIf="!administradorNossoCafofo">
    <div class="col-xl-6 col-md-6">
        <sb-card link="/dashboard" background="card-widget-default">
            <div class="card-body">
                <div class="text-card">
                    <p>Última Reunião</p>
                    <span *ngIf="this.mapEstatisticasCards['ultima-reuniao']">
                        {{this.mapEstatisticasCards['ultima-reuniao'].data}}</span>
                </div>
                <div class="icon-card">
                    <fa-icon [icon]='["fas", "handshake"]'></fa-icon>
                </div>
            </div>
        </sb-card>
    </div>
</div>